@using Smile;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    

}

@*<h2>Tu będą wyniki</h2>*@
<h2>Wyniki:</h2>
<form action="/BayesianNetwork/RenderForm" method="post">
    
        <input type="text" name="jakiNastroj" placeholder="Nastrój"/>
        <input type="text" name="bookType" placeholder="Rodzaj książki"/>
        <input type="submit" value="Submit" />
</form>

<h3>P(Nastroj = @ViewBag.UserMood | JakaKsiazka = @ViewBag.BookType) = @ViewBag.MaxNumber</h3>
<h3>Najbardziej prawdopodobna kategoria książek: @ViewBag.ChosenBookCategory</h3>
  