@model IEnumerable<ReadMe.Models.User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!Model.Any())
{
    <p>We don't have any customers yet.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Customer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(user.Name, "Details", "Users", new { id = user.Id }, null)

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
