@model IEnumerable<ReadMe.Models.User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(user.Name, "Details", "Users", new { id = user.Id }, null)
                
            </td>
        </tr>
    }
</table>



