@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Błąd</h1>
<h2 class="text-danger">Podczas wykonywania żądania pojawił się błąd. 
    <br />Upewnij się, że adres url jej poprawnu i ponów próbę bądź skontaktuj się z administratorem sieci: <a href="mailto:p.mundzik@gmail.com">p.mundzik@gmail.com</a></h2>

