@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="home-page">
    
    <div class="main-text">
        <p class="header-text">Baza książek ReadMe...</p>
        <p>
            składa się tylko i wyłącznie z <strong>Waszych propozycji</strong>.<br />Pomóż zasilić nasz
            wirtualny katalog, abyśmy mogli proponować <br />jak najwięcej <strong>dobrze dopasowanych</strong> książek.
        </p>
    </div>
    <div class="main-button">
        <p>
            <a class="typeform-share my-button"
               href="https://ksiezycowydzik.typeform.com/to/NmoFPi"
               data-mode="popup">ZAPROPONUJ KSIĄŻKĘ >></a>
        </p>
    </div>
</div>


<script>
    (function () {
        var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm_share", b = "https://embed.typeform.com/";
        if (!gi.call(d, id)) {
            js = ce.call(d, "script");
            js.id = id; js.src = b + "embed.js";
            q = gt.call(d, "script")[0];
            q.parentNode.insertBefore(js, q)
        }
    })()
</script>
