
<div class="home-page">
    <div class="main-text">
    <p >
        Aplikacja, która na podstawie Twojego<br />aktualnego <strong>nastroju</strong> oraz <strong>oczekiwań</strong> 
        względem książki<br />zasugeruje Ci najbardziej <strong>trafne propozycje</strong>.
    </p>
    </div>
    <div class="main-button">
        <p><a href="https://localhost:44300/FindBook" class="my-button">WYSZUKAJ KSIĄŻKĘ >></a></p>
    </div>
</div>

