<style>
    .home-page {
        width: 800px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .main-text {
        color: white;
        font-size: 30px;
        text-align: center;
        margin-bottom: 30px;
    }

    .main-button {
        text-align: center;
        margin: 0 auto;   
    }

    .my-button {
        border: 1px solid white;
        border-radius: 10px;
        margin: 0 auto;
        text-decoration: none;
        padding: 4px;
        text-align: center;
        color: white;
        font-size: 16px;
        margin: 10px;
        padding: 15px 26px;  
        font-weight: 900;   
    }

    .my-button:hover {
        text-decoration: none;
        background-color: beige;
        color: brown;
    }


</style>

<div class="home-page">
    <div class="main-text">
    <p >
        Aplikacja, która na podstawie Twojego<br />aktualnego <strong>nastroju</strong> oraz <strong>oczekiwań</strong> 
        względem książki<br />zasugeruje Ci najbardziej <strong>trafne propozycje</strong>.
    </p>
    </div>
    <div class="main-button">
        <p><a href="https://localhost:44300/FindBook" class="my-button">WYSZUKAJ KSIĄŻKĘ >></a></p>
    </div>
   
</div>

@*<div class="jumbotron" style="text-align:center">
    <h1>ReadMe</h1>
    <br />
    <p class="lead">
        Aplikacja, która na podstawie Twojego aktualnego nastroju oraz oczekiwań względem książki<br />
        zasugeruje Ci najbardziej trafne propozycje.
    </p>
    <br /><hr /><br />
    <p>Rozpocznij poszukiwania!</p>
    <p><a href="https://localhost:44300/FindBook" class="btn btn-primary btn-large">Wyszukaj książkę &raquo;</a></p>
</div>*@
