@{
    ViewBag.Title = "Contact";
}

<style>

    .main-button {
        margin-top: 30px;
    }
    .main-button a {
        color: white;
        font-size: 22px;
    }

        a:hover {
            text-decoration: none;
        }
</style>
<div class="home-page">
    <div class="main-text">
        <p class="header-text">ReadMe - Patrycja Mundzik</p>
        <div class="main-button">
            <p>
                <a href="mailto:p.mundzik@gmail.com" class="my-button">p.mundzik@gmail.com</a><br />
            </p>
        </div>
    </div>
</div>

