@{
    ViewBag.Title = "Contact";
}
<div class="home-page">
    <div class="main-text">
        <p class="header-text">ReadMe - Patrycja Mundzik</p>
        <p>
            <strong>Kontakt: </strong>   <a href="mailto:p.mundzik@gmail.com">p.mundzik@gmail.com</a><br />
        </p>

    </div>
</div>

