<div class="home-page">
    <div class="main-text">
        <p>
            Aplikacja, która na podstawie Twojego<br />aktualnego <strong>nastroju</strong> oraz <strong>oczekiwań</strong>
            względem książki<br />zasugeruje Ci najbardziej <strong>trafne propozycje</strong>.
        </p>
        <br />
        <p style="font-size: 20px;">Zaloguj się, aby w pełni korzystać z serwisu.</p>
    </div>
    <div class="main-button">
        <p><a href="https://localhost:44300/Account/Login" class="my-button">PRZEJDŹ DO LOGOWANIA >></a></p>
    </div>
</div>
