@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" style="text-align:center">
    <h1>Baza książek ReadMe...</h1>
    <br />
    <p class="lead">
        składa się tylko i wyłącznie z Waszych propozycji.<br />Pomóż nam zasilić nasz
        wirtualny katalog, abyśmy mogli proponować <br />jak najwięcej dobrze dopasowanych książek!
    </p>
    <br /><hr /><br />
    <p>Dodaj swoją propozycję!</p>
    <p><a class="typeform-share button btn btn-primary btn-large"
          href="https://ksiezycowydzik.typeform.com/to/NmoFPi"
          data-mode="popup">Zaproponuj książkę &raquo;</a></p>
</div>


<script>
    (function () {
        var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm_share", b = "https://embed.typeform.com/";
        if (!gi.call(d, id)) {
            js = ce.call(d, "script");
            js.id = id; js.src = b + "embed.js";
            q = gt.call(d, "script")[0];
            q.parentNode.insertBefore(js, q)
        }
    })()
</script>
