@model ReadMe.Models.Book
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<ul>
    <li>Author: @Model.Author<li>
    <li>Genre: @Model.Genre.Name</li>
</ul>