@model ReadMe.Models.Book

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Books.Count == 0)
{
    <p>You hasn't read a book yet.</p>
}
else
{
    <h2>Książki przeczytane:</h2>

    <table class="table table-bordered table-hover">
        @foreach (var book in Model.Books)
        {
            <tr>
                <td>@book.Name</td>
            </tr>

        }
    </table>
}

@*@model IEnumerable<ReadMe.Models.Book>*@

