@model IEnumerable<ReadMe.Models.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!Model.Any())
{
    <p>You hasn't read a book yet.</p>
}
else
{
    <h2>Książki przeczytane:</h2>
    <div>
        @Html.ActionLink("New book", "New", "Books", null, new { @class = "btn btn-primary btn-large" })
    </div>
    <br />

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Id</td>
                    <td>@Html.ActionLink(book.Name, "Edit", "Books", new { id = book.Id }, null)</td>
                    <td>@book.Genre.Name</td>
                </tr>

            }
        </tbody>
    </table>
}


