@model IEnumerable<ReadMe.Models.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista wszystkich książek:</h2>
<div>
    @Html.ActionLink("New book", "New", "Books", null, new { @class = "btn btn-primary btn-large" })
</div>
<br />

<table id="books" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Tytuł</th>
            <th>Autor</th>
            <th>Gatunek</th>
            <th>Rodzaj książki</th>
            <th>Popularność</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#books").DataTable({
                ajax: {
                    url: "/api/books",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, book) {
                            return "<a href='/books/edit/" + book.id + "'>" + book.name + "</a>";
                        }
                    },
                    {
                        data: "author"
                    },
                    {
                        data: "genre.name"
                    },
                    {
                        data: "bookType.name"
                    },
                    {
                        data: "popularity"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-book-id=" + data + ">Usuń</button>";
                        }
                    }
                ]
            });
            $("#books").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Na pewno chcesz usunąć tę książkę z listy?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/books/" + button.attr("data-book-id"),
                            method: "DeleteBook",
                            success: function () {
                                console.log("Sukces");
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                        bootbox.alert("Książka została usunięta z listy");
                    }
                });
            });

            //$("#books").on("click", ".js-delete", function () {
            //    var button = $(this);

            //    bootbox.confirm("Na pewno chcesz usunąć tę książkę z listy?", function (result) {
            //        if (result) {
            //            $.ajax({
            //                url: "/api/books/" + button.attr("data-book-id"),
            //                method: "DELETE",
            //                success: function () {

            //                    //table.row(button.parents("tr")).remove().draw();
            //                }
            //            });
            //            bootbox.alert("Książka została usunięta z listy");
            //        }
            //    });
            //});
        });
    </script>
}






