@model ReadMe.ViewModels.RandomBookViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var className = Model.Users.Count > 5 ? "popular" : null;
}

<h2 class="@className">@Model.Book.Name</h2>

@if (Model.Users.Count == 0)
{
    <p>No one has read this book before.</p>
}
else
{
    <ul>
        @foreach (var user in Model.Users)
        {
            <li>@user.Name</li>
        }
    </ul>
}
