@model IEnumerable<ReadMe.Models.Book>
@{
    ViewBag.Title = "ShowBooksFromChosenCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Proponowane książki</h2>

<table id="books" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Tytuł</th>
            <th>Autor</th>
            <th>Kategoria</th>
            <th>Popularność</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Name</td>
                <td>@book.Author</td>
                <td>@book.BookTypeId</td>
                <td>@book.Popularity</td>
            </tr>
        }
    </tbody>
</table>

@*@section scripts {
    <script>
        $(document).ready(function () {
            $('#books').DataTable({
                "order": [[3, "asc"]]
            });
        });
    </script>
}*@
