
@{
    ViewBag.Title = "ErrorMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="error">
    <h2>Podczas wykonywania żądania pojawił się błąd.</h2>
    <p>Ponów próbę bądź skontaktuj się z administratorem sieci: <a href="mailto:p.mundzik@gmail.com">p.mundzik@gmail.com.</a></p>
</div>