@import url(https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext);

@font-face {
    font-family: 'Lato';
    src: url("/fonts/Lato-Light.ttf");
}

html, body {
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 0;
    background-image: url("/Content/Images/readme_background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Lato';
    background-attachment: fixed;
    color: white !important;
}

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 2px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.home-page {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.main-text {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
    text-shadow: 0px 0px 10px rgba(0,0,0, 0.3);
}

.header-text {
    font-size: 46px;
    font-weight: bold;
}

.main-button {
    text-align: center;
    margin: 0 auto;
}

.my-button {
    border: 1px solid white;
    border-radius: 10px;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 16px;
    margin: 10px;
    padding: 15px 26px;
    font-weight: 900;
    background-color: transparent;
}

    .my-button:hover {
        text-decoration: none;
        background-color: beige;
        color: brown;
    }

    .my-button:focus {
        outline: none;
    }

}


/*footer {
        color: beige;
        position: fixed;
    }*/
footer {
    color: beige;
    /*background-color: rgba(100,0,0,.5);*/
    display: block;
    height: 30px;
    margin-top: 30px;
}

.max-height {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -60px;
}

.footer-caption {
    line-height: 30px;
}


/********************************************************/
/********************************************************/
/*reset bootstrapowych borderow*/
table, td, th {
    border: none;
}

    table:not(.table-bordered) > thead > tr > th, .table:not(.table-bordered) > thead > tr > th, table:not(.table-bordered) > tbody > tr > th, .table:not(.table-bordered) > tbody > tr > th, table:not(.table-bordered) > tfoot > tr > th, .table:not(.table-bordered) > tfoot > tr > th, table:not(.table-bordered) > thead > tr > td, .table:not(.table-bordered) > thead > tr > td, table:not(.table-bordered) > tbody > tr > td, .table:not(.table-bordered) > tbody > tr > td, table:not(.table-bordered) > tfoot > tr > td, .table:not(.table-bordered) > tfoot > tr > td {
        border-color: transparent;
    }

.table > tbody > tr > td {
    border-top: none;
}

.table > thead > tr > th {
    border-bottom: none;
}
/*reset bootstrapowych borderow*/
th {
    color: #fff; /*kolor textu w naglowku*/
    background: rgba(0, 0, 0, 0.25); /*naglowek*/
    border-bottom: 1px solid white;
    /*text-align:center;*/
}

    th:first-child {
        border-top-left-radius: 3px;
    }

    th:last-child {
        border-top-right-radius: 3px;
        border-right: none;
    }

tr {
    color: #fff; /*kolor textu normanlnego*/
    /*font-weight: bold;*/
}

    tr a {
        color: #fff; /*nazwa ksiazki*/
        text-decoration: none !important;
    }

        tr a:hover {
            color: #eee; /*nazwa ksiazki po hoverze*/
        }

    tr:hover a {
        color: #111;
    }

    tr:hover button {
        color: #111;
    }

    tr:hover td {
        background: rgba(255, 255, 255, 0.35); /*wiersz parzysty po hoverze*/
        color: #111; /*kolor textu normanlnego po hoverze*/
        font-weight: bold;
    }

    tr:first-child {
        /*border-top:none;*/
    }

    tr:last-child {
        /*border-bottom:none;*/
    }

    tr:nth-child(odd) td {
        background: rgba(0, 0, 0, 0.2); /*wiersz nieparzysty*/
    }

    tr:nth-child(odd):hover td {
        background: rgba(255, 255, 255, 0.4); /*wiersz nieparzysty po hoverze*/
    }

    tr:last-child td:first-child {
        border-bottom-left-radius: 3px;
    }

    tr:last-child td:last-child {
        border-bottom-right-radius: 3px;
    }

td {
    background: rgba(0, 0, 0, 0.1); /*wiersz parzysty*/
    /*text-align: center;*/
}
/********************************************************/
/********************************************************/


/* ------------ NAVBAR ----------- */
.navbar-fixed-top.scrolled {
    background-color: #AD8C51 !important;
    transition: background-color 200ms linear;
}

    .navbar-fixed-top.scrolled .nav-link {
        color: white;
    }

/*--------------------------------*/

.container h2, h4 {
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0, 0.3);
}


/*--------- FIND BOOK ----------- */
.in-find-book {
    padding-top: 20px;
    padding-bottom: 25px;
    margin: 0 auto;
}

    .in-find-book h3 {
        font-size: 32px;
        text-align: center;
        padding-bottom: 15px;
        color: white;
        font-weight: bold;
    }

/*.button {
        border: 1px solid white;
        border-radius: 10px;
        margin: 10px 6px;
        padding: 10px;
        width: 160px;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        background-color: beige;
        color: brown;
    }*/

.button {
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px 0px;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    /*background-color: beige;*/
    /*color: brown;*/
    min-height: 66px;
}

@media(max-width: 1199px) {
    .one-line-button {
        line-height: 280%;
    }
}

.one-line-button__short {
    line-height: 280%;
}

@media(max-width: 768px) {
    .special-care-button {
        line-height: 280%;
    }
}

.button:hover {
    opacity: 0.6;
    color: white;
    background-color: #CFA072;
}

.button-group input {
    display: none;
    border: 1px solid white;
}

.button-center {
    display: inline-block;
    text-align: center;
}

.button-group input:checked + label,
.button-group input:checked + label:active {
    background-color: beige;
    color: brown;
}

h4 {
    font-size: 26px;
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0, 0.2);
}

.main-button input {
    background-color: transparent;
    border: 1px solid white;
    font-weight: 900;
}

.checkbox input[type="checkbox"] {
    margin-left: 0;
}

/*--------------------------*/

.h4-on-my-page {
    text-align: left;
    font-size: 20px;
    font-weight: normal;
}


/*---------- CONTACT ----------- */
.mail-button {
    margin-top: 30px;
}

    .mail-button a {
        color: white;
        font-size: 22px;
    }

a:hover {
    text-decoration: none;
}
/*-------------------------*/

.delete-button {
    color: white;
    background-color: transparent;
    border: none;
}

    .delete-button:hover {
        color: black;
    }

.form-control {
    opacity: 0.4;
}

/*--------------- ALERT BOOTBOX ---------*/
.modal-content {
    background-color: beige;
    color: #654321;
}

button.btn.btn-primary, button.btn.btn-primary:hover, button.btn.btn-primary:active {
    background-color: #CFA072;
    border-color: #CFA072;
}

    button.btn.btn-primary:focus {
        outline: 0;
    }

/*--------------------------*/

/*--------------- ERROR ------------*/
.error {
    background: rgba(0, 0, 0, 0.25);
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.error h2, p {
    text-align: center;
}